{
  "openapi": "3.0.1",
  "info": {
    "title": "水务科研管理系统",
    "description": "提供管理后台、用户 App 的所有功能",
    "contact": {
      "url": "http://dashboard.yudao.iocoder.cn",
      "email": "xingyu4j@vip.qq.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://gitee.com/zhijiantianya/ruoyi-vue-pro/blob/master/LICENSE"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://2f913969b6.goho.co",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Authorization": []
    },
    {
      "Authorization": []
    }
  ],
  "paths": {
    "/admin-api/technologicalrectification/technological-rectification/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]整改记录"
        ],
        "summary": "更新整改记录",
        "operationId": "updateTechnologicalRectification",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalRectificationSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalprojecttimeline/technological-project-timeline/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]项目时间线记录"
        ],
        "summary": "更新项目时间线记录",
        "operationId": "updateTechnologicalProjectTimeline",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProjectTimelineSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalprojectmaterial/technological-project-material/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]项目申请材料"
        ],
        "summary": "更新项目申请材料",
        "operationId": "updateTechnologicalProjectMaterial",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProjectMaterialSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalproject/technological-project/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]项目立项申请"
        ],
        "summary": "更新项目立项申请",
        "operationId": "updateTechnologicalProject",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProjectSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmeetingremind/technological-meeting-remind/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]会议提前提醒"
        ],
        "summary": "更新会议提前提醒",
        "operationId": "updateTechnologicalMeetingRemind",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMeetingRemindSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmeetingparticipant/technological-meeting-participant/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]会议参与人"
        ],
        "summary": "更新会议参与人",
        "operationId": "updateTechnologicalMeetingParticipant",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMeetingParticipantSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmeetingmaterial/technological-meeting-material/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]会议资料"
        ],
        "summary": "更新会议资料",
        "operationId": "updateTechnologicalMeetingMaterial",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMeetingMaterialSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmeeting/technological-meeting/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]会议"
        ],
        "summary": "更新会议",
        "operationId": "updateTechnologicalMeeting",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMeetingSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmaterialtemplate/technological-material-template/update": {
      "put": {
        "tags": [
          "管理后台 - [材料模板]材料提交模板维护"
        ],
        "summary": "更新材料提交模板维护",
        "operationId": "updateTechnologicalMaterialTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMaterialTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalmaterialreview/technological-material-review/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]材料审核记录"
        ],
        "summary": "更新材料审核记录",
        "operationId": "updateTechnologicalMaterialReview",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalMaterialReviewSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalconclusionfile/technological-conclusion-file/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]结论文件"
        ],
        "summary": "更新结论文件",
        "operationId": "updateTechnologicalConclusionFile",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalConclusionFileSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technologicalacceptanceconclusion/technological-acceptance-conclusion/update": {
      "put": {
        "tags": [
          "管理后台 - [项目立项]验收结论"
        ],
        "summary": "更新验收结论",
        "operationId": "updateTechnologicalAcceptanceConclusion",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalAcceptanceConclusionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/research/update": {
      "put": {
        "tags": [
          "管理后台 - [调研记录]调研记录"
        ],
        "summary": "更新调研记录",
        "operationId": "updateResearch",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalResearchSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/research/updateStatus": {
      "put": {
        "tags": [
          "管理后台 - [调研记录]调研记录"
        ],
        "summary": "更新调研状态（状态(0:进行中,1:已完成,2:已暂停,3:已终止)）",
        "operationId": "updateResearchStatus",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalResearchUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/research-task/update": {
      "put": {
        "tags": [
          "管理后台 - [调研记录]调研事项记录"
        ],
        "summary": "更新调研事项记录",
        "operationId": "updateResearchTask",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalResearchTaskSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/research-document/update": {
      "put": {
        "tags": [
          "管理后台 - [调研记录]调研文档"
        ],
        "summary": "更新调研文档",
        "operationId": "updateResearchDocument",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalResearchDocumentSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/requirement-pool/update": {
      "put": {
        "tags": [
          "管理后台 - [需求池]需求池管理"
        ],
        "summary": "更新需求池管理",
        "operationId": "updateRequirementPool",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalRequirementPoolSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/requirement-attachment/update": {
      "put": {
        "tags": [
          "管理后台 - [需求池]需求池管理相关附件"
        ],
        "summary": "更新需求池管理相关附件",
        "operationId": "updateRequirementAttachment",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalRequirementAttachmentSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-timeline-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题项目时间线表(重写)"
        ],
        "summary": "更新开题项目时间线表(重写)",
        "operationId": "updateProposalTimelineRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalTimelineRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-rectification-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题整改记录表(重写)"
        ],
        "summary": "更新开题整改记录表(重写)",
        "operationId": "updateProposalRectificationRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalRectificationRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-meeting-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题会议表(重写)"
        ],
        "summary": "更新开题会议表(重写)",
        "operationId": "updateProposalMeetingRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMeetingRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-meeting-remind/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题会议提前提醒"
        ],
        "summary": "更新开题会议提前提醒",
        "operationId": "updateProposalMeetingRemind",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMeetingRemindSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-meeting-participant-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题会议参与人表(重写)"
        ],
        "summary": "更新开题会议参与人表(重写)",
        "operationId": "updateProposalMeetingParticipantRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMeetingParticipantRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-meeting-material-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题会议资料表(重写)"
        ],
        "summary": "更新开题会议资料表(重写)",
        "operationId": "updateProposalMeetingMaterialRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMeetingMaterialRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-material-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题申请材料表(重写)"
        ],
        "summary": "更新开题申请材料表(重写)",
        "operationId": "updateProposalMaterialRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMaterialRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-material-review-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题材料审核记录表(重写)"
        ],
        "summary": "更新开题材料审核记录表(重写)",
        "operationId": "updateProposalMaterialReviewRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalMaterialReviewRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-conclusion-file-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题结论文件表(重写)"
        ],
        "summary": "更新开题结论文件表(重写)",
        "operationId": "updateProposalConclusionFileRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalConclusionFileRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-application-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题申请表(重写)"
        ],
        "summary": "更新开题申请表(重写)",
        "operationId": "updateProposalApplicationRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalApplicationRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/proposal-acceptance-conclusion-rewrite/update": {
      "put": {
        "tags": [
          "管理后台 - [开题]开题验收结论表(重写)"
        ],
        "summary": "更新开题验收结论表(重写)",
        "operationId": "updateProposalAcceptanceConclusionRewrite",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProposalAcceptanceConclusionRewriteSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/technological-proposal-review/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]材料审核记录"
        ],
        "summary": "更新材料审核记录",
        "operationId": "update",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalReviewSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/technological-proposal-material/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]开题申请材料"
        ],
        "summary": "更新开题申请材料",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalMaterialSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/technological-proposal-application/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]开题申请表"
        ],
        "summary": "更新开题申请表",
        "operationId": "update_2",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalApplicationSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/rectification/{id}": {
      "get": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]整改记录"
        ],
        "summary": "获取整改记录",
        "operationId": "getRectification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "整改ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultTechnologicalProposalRectificationRespVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]整改记录"
        ],
        "summary": "更新整改记录",
        "operationId": "updateRectification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "整改ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalRectificationSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]整改记录"
        ],
        "summary": "删除整改记录",
        "operationId": "deleteRectification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "整改ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/rectification/{id}/status": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]整改记录"
        ],
        "summary": "更新整改状态",
        "operationId": "updateRectificationStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "整改ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "整改状态(1: 未整改 2: 整改中 3: 已完成 4: 已超时)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/meeting/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]答辩会议管理"
        ],
        "summary": "更新答辩会议",
        "operationId": "updateMeeting",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalMeetingSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/meeting-participant/{id}": {
      "get": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]会议参与人"
        ],
        "summary": "获取会议参与人",
        "operationId": "getMeetingParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "参与人ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultTechnologicalProposalMeetingParticipantRespVO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]会议参与人"
        ],
        "summary": "更新会议参与人",
        "operationId": "updateMeetingParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "参与人ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalMeetingParticipantSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]会议参与人"
        ],
        "summary": "删除会议参与人",
        "operationId": "deleteMeetingParticipant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "参与人ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/meeting-participant/{id}/status": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]会议参与人"
        ],
        "summary": "更新会议参与人状态",
        "operationId": "updateMeetingParticipantStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "参与人ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "参与状态(1:已确认,2:已拒绝,3:未回复)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/meeting-opinion/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]专家意见"
        ],
        "summary": "更新专家意见",
        "operationId": "updateMeetingOpinion",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalMeetingOpinionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/technological/admin/meeting-conclusion/update": {
      "put": {
        "tags": [
          "管理后台 - 【废弃】[项目开题]会议结论"
        ],
        "summary": "更新会议结论",
        "operationId": "updateMeetingConclusion",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TechnologicalProposalMeetingConclusionSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "修改用户",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update-status": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "修改用户状态",
        "operationId": "updateUserStatus",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateStatusReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/update-password": {
      "put": {
        "tags": [
          "管理后台 - 用户"
        ],
        "summary": "重置用户密码",
        "operationId": "updateUserPassword",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdatePasswordReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/profile/update": {
      "put": {
        "tags": [
          "管理后台 - 用户个人中心"
        ],
        "summary": "修改用户个人信息",
        "operationId": "updateUserProfile",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/user/profile/update-password": {
      "put": {
        "tags": [
          "管理后台 - 用户个人中心"
        ],
        "summary": "修改用户个人密码",
        "operationId": "updateUserProfilePassword",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdatePasswordReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/tenant/update": {
      "put": {
        "tags": [
          "管理后台 - 租户"
        ],
        "summary": "更新租户",
        "operationId": "updateTenant",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/tenant-package/update": {
      "put": {
        "tags": [
          "管理后台 - 租户套餐"
        ],
        "summary": "更新租户套餐",
        "operationId": "updateTenantPackage",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantPackageSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/social-client/update": {
      "put": {
        "tags": [
          "管理后台 - 社交客户端"
        ],
        "summary": "更新社交客户端",
        "operationId": "updateSocialClient",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SocialClientSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/sms-template/update": {
      "put": {
        "tags": [
          "管理后台 - 短信模板"
        ],
        "summary": "更新短信模板",
        "operationId": "updateSmsTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/sms-channel/update": {
      "put": {
        "tags": [
          "管理后台 - 短信渠道"
        ],
        "summary": "更新短信渠道",
        "operationId": "updateSmsChannel",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmsChannelSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/role/update": {
      "put": {
        "tags": [
          "管理后台 - 角色"
        ],
        "summary": "修改角色",
        "operationId": "updateRole",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/post/update": {
      "put": {
        "tags": [
          "管理后台 - 岗位"
        ],
        "summary": "修改岗位",
        "operationId": "updatePost",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/oauth2/user/update": {
      "put": {
        "tags": [
          "管理后台 - OAuth2.0 用户"
        ],
        "summary": "更新用户基本信息",
        "operationId": "updateUserInfo",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2UserUpdateReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/oauth2-client/update": {
      "put": {
        "tags": [
          "管理后台 - OAuth2 客户端"
        ],
        "summary": "更新 OAuth2 客户端",
        "operationId": "updateOAuth2Client",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2ClientSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-template/update": {
      "put": {
        "tags": [
          "管理后台 - 站内信模版"
        ],
        "summary": "更新站内信模版",
        "operationId": "updateNotifyTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-message/update-read": {
      "put": {
        "tags": [
          "管理后台 - 我的站内信"
        ],
        "summary": "标记站内信为已读",
        "operationId": "updateNotifyMessageRead",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "编号列表",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            },
            "example": "1024,2048"
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notify-message/update-all-read": {
      "put": {
        "tags": [
          "管理后台 - 我的站内信"
        ],
        "summary": "标记所有站内信为已读",
        "operationId": "updateAllNotifyMessageRead",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/notice/update": {
      "put": {
        "tags": [
          "管理后台 - 通知公告"
        ],
        "summary": "修改通知公告",
        "operationId": "updateNotice",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoticeSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/menu/update": {
      "put": {
        "tags": [
          "管理后台 - 菜单"
        ],
        "summary": "修改菜单",
        "operationId": "updateMenu",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MenuSaveVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/mail-template/update": {
      "put": {
        "tags": [
          "管理后台 - 邮件模版"
        ],
        "summary": "修改邮件模版",
        "operationId": "updateMailTemplate",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailTemplateSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/mail-account/update": {
      "put": {
        "tags": [
          "管理后台 - 邮箱账号"
        ],
        "summary": "修改邮箱账号",
        "operationId": "updateMailAccount",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MailAccountSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dict-type/update": {
      "put": {
        "tags": [
          "管理后台 - 字典类型"
        ],
        "summary": "修改字典类型",
        "operationId": "updateDictType",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DictTypeSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dict-data/update": {
      "put": {
        "tags": [
          "管理后台 - 字典数据"
        ],
        "summary": "修改字典数据",
        "operationId": "updateDictData",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DictDataSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/system/dept/update": {
      "put": {
        "tags": [
          "管理后台 - 部门"
        ],
        "summary": "更新部门",
        "operationId": "updateDept",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeptSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/update": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "更新定时任务",
        "operationId": "updateJob",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/update-status": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "更新定时任务的状态",
        "operationId": "updateJobStatus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/job/trigger": {
      "put": {
        "tags": [
          "管理后台 - 定时任务"
        ],
        "summary": "触发定时任务",
        "operationId": "triggerJob",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "编号",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1024
          },
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommonResultBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/admin-api/infra/file-config/update": {
      "put": {
        "tags": [
          "管理后台 - 文件配置"
        ],
        "summary": "更新文件配置",
        "operationId": "updateFileConfig",
        "parameters": [
          {
            "name": "tenant-id",
            "in": "header",
            "description": "租户编号",
            "schema": {
              "type": "integer",
              "description": "租户编号",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "认证 Token",
            "schema": {
              "type": "string",
              "description": "认证 Token",
              "default": "Bearer test1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileConfigSaveReqVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
[...]
